name: check jitpack artefact checksums

on:
  schedule:
    - cron: '3 */8 * * *'
  workflow_dispatch:
    inputs:
      version:
        description: dummy
        default: dummy

jobs:
  auto-update-dependencies:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Run check 1
      run: ./tools/check_jitpack_checksums.sh

